<footer
  class="bg-dark text-light text-center shadow"
  style="padding: 15px 0; height: 70px"
>
  <div class="container d-flex flex-column justify-content-center h-100">
    <small class="fw-medium">
      &copy; <%= new Date().getFullYear() %> Confessa — Built with ❤️ using
      Express & EJS
    </small>
  </div>
</footer>
